<section>
 <h1>Data bindings</h1>
 <h2>Property bindings</h2>
 <p>Lien du typescript vers html uniquement</p>
 <p>Hello {{ world }}</p>
 <p>Lien bidrectionnel entre typescript et html</p>
 <input type="text" [(ngModel)]="world">

 <h2>Event bindings</h2>
 <p>{{ message }}</p>
 <button class="btn" (click)="salutationFr()">FR</button>
 <button class="btn" (click)="salutationEng()">EN</button>

 <h2>Attribute bindings</h2>
 <button class="btn" (click)="salutationNl()" [disabled]="noNl">NL</button>
</section>
